In [1]:
#how to handle one column using another column using labmda 

#convert sqm and kanal to sqft
#sqft=sqm×10.7639
#sqft=kanal×5,445

df['cost_per_unit'] = df['cost_per_unit'].str.replace(',', '').astype(float)

df['cost_per_unit'] = df.apply(
    lambda row: row['cost_per_unit'] * 10.7639 if row['area_unit'] == 'sqm' 
    else row['cost_per_unit'] * 5445 if row['area_unit'] == 'kanal'
    else row['cost_per_unit'],
    axis=1
)

NameError: name 'df' is not defined

In [15]:
import pandas as pd
import re
import numpy as np

# Data provided by the user
data = [
    "sqftsqftsqyrdsqmacrebighahectaremarlakanalbiswa1biswa2groundaankadamroodchatakkottahmarlacentperchgunthaarekathagajkillakuncham₹28,346/sqft",
    None,
    "623sqftsqftsqyrdsqmacrebighahectaremarlakanalbiswa1biswa2groundaankadamroodchatakkottahmarlacentperchgunthaarekathagajkillakuncham₹28,892/sqft",
    "702sqftsqftsqyrdsqmacrebighahectaremarlakanalbiswa1biswa2groundaankadamroodchatakkottahmarlacentperchgunthaarekathagajkillakuncham₹23,500/sqft",
    "608sqftsqftsqyrdsqmacrebighahectaremarlakanalbiswa1biswa2groundaankadamroodchatakkottahmarlacentperchgunthaarekathagajkillakuncham₹20,724/sqft",
    "0sqftsqftsqyrdsqmacrebighahectaremarlakanalbiswa1biswa2groundaankadamroodchatakkottahmarlacentperchgunthaarekathagajkillakuncham₹20,724/sqft"
]

# Create DataFrame
df = pd.DataFrame(data, columns=["raw_data"])

# Using a lambda function to extract numeric values
df["extracted_number_lambda"] = df["raw_data"].apply(
    lambda value: re.match(r"^[\d,]+\.*[\d]*", value).group(0) if pd.notna(value) and re.match(r"^[\d,]+\.*[\d]*", value) else np.nan
)

# Display the DataFrame
print(df)

                                            raw_data extracted_number_lambda
0  sqftsqftsqyrdsqmacrebighahectaremarlakanalbisw...                     NaN
1                                               None                     NaN
2  623sqftsqftsqyrdsqmacrebighahectaremarlakanalb...                     623
3  702sqftsqftsqyrdsqmacrebighahectaremarlakanalb...                     702
4  608sqftsqftsqyrdsqmacrebighahectaremarlakanalb...                     608
5  0sqftsqftsqyrdsqmacrebighahectaremarlakanalbis...                       0

In [17]:
import re
import numpy as np
import pandas as pd

# Sample data
data = [
    "635 Sq-ft", 
    "1905 Sq-ft", 
    "623 Sq-ft", 
    "702 Sq-ft", 
    "608 Sq-ft", 
    "770 Sq-ft", 
    "1350 Sq-ft", 
    np.nan, 
    "37,00.0 Sq-ft", 
    "0Sq-ft", 
    "Sq-ft", 
    "9,43 Sq-ft"
]

# Convert data to a pandas Series for easier manipulation
series = pd.Series(data)

# Lambda function to extract numeric value or return np.nan
series_extracted = series.apply(lambda x: float(re.match(r'([\d,\.]+)', x).group(1).replace(',', '')) if isinstance(x, str) and re.match(r'([\d,\.]+)', x) else np.nan)

# Result
print(series_extracted)

0      635.0
1     1905.0
2      623.0
3      702.0
4      608.0
5      770.0
6     1350.0
7        NaN
8     3700.0
9        0.0
10       NaN
11     943.0
dtype: float64

In [25]:
import pandas as pd
import re
import numpy as np

# Data provided by the user
data = [
    "1sqftsqftsqyrdsqmacrebighahectaremarlakanalbiswa1biswa2groundaankadamroodchatakkottahmarlacentperchgunthaarekathagajkillakuncham₹28,346/sqft",
    None,
    "62,,3sqftsqftsqyrdsqmacrebighahectaremarlakanalbiswa1biswa2groundaankadamroodchatakkottahmarlacentperchgunthaarekathagajkillakuncham₹28,892/sqft",
    "7.02sqftsqftsqyrdsqmacrebighahectaremarlakanalbiswa1biswa2groundaankadamroodchatakkottahmarlacentperchgunthaarekathagajkillakuncham₹23,500/sqft",
    "6,0.8sqftsqftsqyrdsqmacrebighahectaremarlakanalbiswa1biswa2groundaankadamroodchatakkottahmarlacentperchgunthaarekathagajkillakuncham₹20,724/sqft",
    "0sqftsqftsqyrdsqmacrebighahectaremarlakanalbiswa1biswa2groundaankadamroodchatakkottahmarlacentperchgunthaarekathagajkillakuncham₹20,724/sqft"
]

# Create DataFrame
df = pd.DataFrame(data, columns=["raw_data"])

# Using a lambda function to extract numeric values
#df["extracted_number_lambda"] = df["raw_data"].apply(lambda x: float(re.match(r'([\d,\.]+)', x).group(1).replace(',', '')) if isinstance(x, str) and re.match(r'([\d,\.]+)', x) else np.nan)
df["extracted_number_lambda"] = df["raw_data"].apply(lambda x: float(re.match(r'([\d,\.]+)', x).group(1).replace(',', '')) if pd.notna(x) and re.match(r'^[\d,\.]+', x) else np.nan)
# Display the DataFrame
print(df)

                                            raw_data  extracted_number_lambda
0  1sqftsqftsqyrdsqmacrebighahectaremarlakanalbis...                     1.00
1                                               None                      NaN
2  62,,3sqftsqftsqyrdsqmacrebighahectaremarlakana...                   623.00
3  7.02sqftsqftsqyrdsqmacrebighahectaremarlakanal...                     7.02
4  6,0.8sqftsqftsqyrdsqmacrebighahectaremarlakana...                    60.80
5  0sqftsqftsqyrdsqmacrebighahectaremarlakanalbis...                     0.00

In [27]:
import re
import numpy as np
import pandas as pd

# Sample data
data = [
    "635 Sq-ft", 
    "1905 Sq-ft", 
    "623 Sq-ft", 
    "702 Sq-ft", 
    "608 Sq-ft", 
    "770 Sq-ft", 
    "0.350 Sq-ft", 
    np.nan, 
    "37,00.0 Sq-ft", 
    "0Sq-ft", 
    "Sq-ft", 
    "9,43 Sq-ft"
]

# Convert data to a pandas Series for easier manipulation
series = pd.Series(data)

# Lambda function to extract numeric value or return np.nan
series_extracted = series.apply(lambda x: float(re.match(r'([\d,\.]+)', x).group(1).replace(',', '')) if pd.notna(x) and re.match(r'^[\d,\.]+', x) else np.nan)

# Result
print(series_extracted)

0      635.00
1     1905.00
2      623.00
3      702.00
4      608.00
5      770.00
6        0.35
7         NaN
8     3700.00
9        0.00
10        NaN
11     943.00
dtype: float64

In [34]:
import pandas as pd

# Sample data
data = [
    "₹346/sqft",
    "₹0.892/sqft",
    "₹23,500/sqft",
    "₹20,724/sqft",
    "₹20,72.4/sqft",
    "₹sqft"
]

# Create DataFrame
df = pd.DataFrame(data, columns=["area_work"])

# Extract cost per square foot, clean commas and convert to numeric
df['cost_per_sqft'] = df['area_work'].str.extract(r'₹([\d,\.]+)')[0].str.replace(',', '').astype(float)

# Display the DataFrame
print(df)

       area_work  cost_per_sqft
0      ₹346/sqft        346.000
1    ₹0.892/sqft          0.892
2   ₹23,500/sqft      23500.000
3   ₹20,724/sqft      20724.000
4  ₹20,72.4/sqft       2072.400
5          ₹sqft            NaN

In [40]:
import pandas as pd

# Sample data
data = [
    "₹28,346/sqft",
    "₹28,892/sqft",
    "₹23,500/sqft",
    "₹20,724/sqft",
    "₹20,72.4/kamal
    ",
    "sqft"
]

# Create DataFrame
df = pd.DataFrame(data, columns=["area_work"])

df['area_unit'] = df['area_work'].str.extract(r'/([^/]+)$')

print(df)

        area_work area_unit
0    ₹28,346/sqft      sqft
1    ₹28,892/sqft      sqft
2    ₹23,500/sqft      sqft
3    ₹20,724/sqft      sqft
4  ₹20,72.4/kamal     kamal
5             sqm       NaN

In [ ]:
import re
import numpy as np
import pandas as pd

# Sample data
data = [
    "635 Sq-ft", 
    "1905 Sq-ft", 
    "623 Sq-ft", 
    "702 Sq-ft", 
    "608 Sq-ft", 
    "770 Sq-ft", 
    "0.350 Sq-ft", 
    np.nan, 
    "37,00.0 Sq-ft", 
    "0Sq-ft", 
    "Sq-ft", 
    "9,43 Sq-ft"
]

# Convert data to a pandas Series for easier manipulation
series = pd.Series(data)

# Lambda function to extract numeric value or return np.nan
series_extracted = series.apply(lambda x: float(re.match(r'([\d,\.]+)', x).group(1).replace(',', '')) if pd.notna(x) and re.match(r'^[\d,\.]+', x) else np.nan)

# Result
print(series_extracted)

In [42]:
import pandas as pd
import numpy as np
import re

# Example data
data = [
    "635sqftsqftsqyrdsqmacrebighahectaremarlakanalbiswa1biswa2groundaankadamroodchatakkottahmarlacentperchgunthaarekathagajkillakuncham₹28,346/sqft",
    np.nan,
    "623sqftsqftsqyrdsqmacrebighahectaremarlakanalbiswa1biswa2groundaankadamroodchatakkottahmarlacentperchgunthaarekathagajkillakuncham₹28,892/sqft",
    "702sqftsqftsqyrdsqmacrebighahectaremarlakanalbiswa1biswa2groundaankadamroodchatakkottahmarlacentperchgunthaarekathagajkillakuncham₹23,500/sqft",
    "608sqftsqftsqyrdsqmacrebighahectaremarlakanalbiswa1biswa2groundaankadamroodchatakkottahmarlacentperchgunthaarekathagajkillakuncham₹20,724/sqft"
]

# Creating DataFrame
df = pd.DataFrame(data, columns=['Column'])

# Using lambda function to extract the first 4 alphabetic characters after the digits
df['Extracted'] = df['Column'].apply(lambda x: ''.join([char for char in str(x)[re.match(r'\d+', str(x)).end():] if char.isalpha()])[:4] if isinstance(x, str) else np.nan)

# Showing result
print(df)

                                              Column Extracted
0  635sqftsqftsqyrdsqmacrebighahectaremarlakanalb...      sqft
1                                                NaN       NaN
2  623sqftsqftsqyrdsqmacrebighahectaremarlakanalb...      sqft
3  702sqftsqftsqyrdsqmacrebighahectaremarlakanalb...      sqft
4  608sqftsqftsqyrdsqmacrebighahectaremarlakanalb...      sqft

In [ ]:
#for this code I write this next cell code in function 

#add dupli_f_area data into f_area
df['f_area'] = np.where(
    pd.isna(df['f_area']) & pd.notna(df['Area']),
    df['dupli_f_area'],
    df['f_area']
)

#add dupli_costpersqft into f_costpersqft 
df['f_costpersqft'] = np.where(
    pd.isna(df['f_area']) & pd.notna(df['Area']),
    df['dupli_costpersqft'],
    df['f_costpersqft']
)

#add dupli_f_area_unit into f_area_unit 
df['f_area_unit'] = np.where(
    pd.isna(df['f_area']) & pd.notna(df['Area']),
    df['dupli_f_area_unit'],
    df['f_area_unit']
)

In [ ]:
def update_values(df, update_cols, using_cols):
    for update_col, using_col in zip(update_cols, using_cols):
        df[update_col] = np.where(
            pd.isna(df['f_area']) & pd.notna(df['Area']),
            df[using_col],
            df[update_col]
        )
    return df

# Define columns to update and corresponding columns to use
columns_to_update = ['f_costpersqft', 'f_area_unit', 'f_area']
using_columns = ['dupli_costpersqft', 'dupli_f_area_unit', 'dupli_f_area']

# Update the DataFrame
df = update_values(df, columns_to_update, using_columns)

In [60]:
import numpy as np
import pandas as pd

# Example DataFrame
data = {
    'lift': [
        [4.0, np.nan, np.nan, np.nan, np.nan],
        [np.nan, np.nan, np.nan, np.nan, np.nan],
        [2.0, 2.0, np.nan, np.nan, np.nan],
        [np.nan, np.nan, np.nan, np.nan, np.nan],
        [np.nan, 1.0, np.nan, 1.0, np.nan]
    ]
}

df = pd.DataFrame(data)

# Apply transformation to each row in the 'lift' column
df['lift'] = df['lift'].apply(lambda row: next((val for val in row if not np.isnan(val)), np.nan))

print(df)

   lift
0   4.0
1   NaN
2   2.0
3   NaN
4   1.0

In [58]:
import numpy as np

df['lift'] = df['lift'].apply(
    lambda x: [item if isinstance(item, (int, float)) else np.nan for item in x]
)

In [59]:
df['lift']

0    [1.0, 1.0, 25.0, 7.0]
1    [nan, 2.0, 30.0, 5.0]
2    [3.0, 3.0, 35.0, 2.0]
3     [nan, nan, nan, nan]
Name: lift, dtype: object

In [1]:
import pandas as pd

# Sample DataFrame
data = {
    'AM_sales': [100, 200, None],
    'AM_revenue': [500, None, 700],
    'PM_sales': [50, 60, 70],
    'AM_profit': [None, 40, 50],
    'other_column': [1, 2, 3]
}

df = pd.DataFrame(data)

# Combine values from columns that start with 'AM', excluding NaN values
df['bed'] = [
    [value for value in zip(*[df[col] for col in df.columns if col.startswith('AM')]) if pd.notna(value)]
    for row in zip(*[df[col] for col in df.columns if col.startswith('AM')])
]

# Display the result
print(df[['bed']])

                                                 bed
0  [(100.0, 500.0, nan), (200.0, nan, 40.0), (nan...
1  [(100.0, 500.0, nan), (200.0, nan, 40.0), (nan...
2  [(100.0, 500.0, nan), (200.0, nan, 40.0), (nan...

In [6]:
import pandas as pd
import numpy as np

# Create the DataFrame
data = {
    'status': [
        'under construction', 'under construction', 'under construction', 'under construction', 
        'under construction', 'ready to move', 'under construction', 'under construction', 
        'under construction', 'under construction', 'under construction', 'under construction', 
        'under construction', 'under construction', 'under construction', 'under construction', 
        'under construction', 'under construction', 'under construction', 'under construction', 
        'under construction', 'under construction', 'under construction', None, None, None, None,
        'ready to move', None, 'ready to move'
    ],
    'construction': [
        None, None, None, None, None, None, None, None, None, None, None, None, None, None, 
        None, None, None, None, None, None, None, None, None, 'under construction', 'under construction', 
        'under construction', 'under construction', None, 'under construction', 'Less than 5 years'
    ]
}

df = pd.DataFrame(data)

# Apply the transformation
df['construction'] = df.apply(
    lambda row: 'under construction' if row['status'] == 'under construction' else row['construction'], axis=1
)

# Display the updated DataFrame
print(df)

                status        construction
0   under construction  under construction
1   under construction  under construction
2   under construction  under construction
3   under construction  under construction
4   under construction  under construction
5        ready to move                None
6   under construction  under construction
7   under construction  under construction
8   under construction  under construction
9   under construction  under construction
10  under construction  under construction
11  under construction  under construction
12  under construction  under construction
13  under construction  under construction
14  under construction  under construction
15  under construction  under construction
16  under construction  under construction
17  under construction  under construction
18  under construction  under construction
19  under construction  under construction
20  under construction  under construction
21  under construction  under construction
22  under construction  under construction
23                None  under construction
24                None  under construction
25                None  under construction
26                None  under construction
27       ready to move                None
28                None  under construction
29       ready to move   Less than 5 years

In [20]:
import pandas as pd

data = {
    'EMI': ['81k', '1.07L', '81k', '74k', '57k', '56k', '45k', '15k', '47k', '52k', 
            '66k', '52k', '15k', '63k', '28k', '79k', '234', '60k', '51k']
}

df = pd.DataFrame(data)

# Conversion to lakh
converted_emi = []

for emi in df['EMI']:
    if 'k' in emi:
        # Convert from thousands to lakhs
        converted_emi.append(float(emi.replace('k', '')) / 100)
    elif 'L' in emi:
        # No change needed for lakh
        converted_emi.append(float(emi.replace('L', '')))
    else:
        # Convert rupees to lakhs
        converted_emi.append(float(emi) / 100000)

# Add the converted values to the DataFrame
df['converted_emi'] = converted_emi

# Display the DataFrame
df

      EMI  converted_emi
0     81k        0.81000
1   1.07L        1.07000
2     81k        0.81000
3     74k        0.74000
4     57k        0.57000
5     56k        0.56000
6     45k        0.45000
7     15k        0.15000
8     47k        0.47000
9     52k        0.52000
10    66k        0.66000
11    52k        0.52000
12    15k        0.15000
13    63k        0.63000
14    28k        0.28000
15    79k        0.79000
16    234        0.00234
17    60k        0.60000
18    51k        0.51000

In [16]:
0.6*100000

60000.0

In [1]:
list1 = [
    "cardid73032233", "cardid72658797", "cardid72658797", "cardid72658797",
    "cardid72658797", "cardid72658797", "cardid73032229", "cardid73032231",
    "cardid72658797", "cardid72828095", "cardid72658797", "cardid73032229",
    "cardid71315131", "cardid72828095", "cardid72658797", "cardid72658797",
    "cardid72658797", "cardid73032229", "cardid73032231", "cardid73032229",
    "cardid72362469"
]

list2 = [
    "cardid72674109", "cardid72727949", "cardid72474661", "cardid72815855",
    "cardid73098635", "cardid72953259", "cardid72288081", "cardid72284483",
    "cardid72284713"
]

# Find common IDs between the two lists
common_ids = set(list1).intersection(list2)

# Print common IDs
print(common_ids)

set()

In [ ]:
#number of rows in the DataFrame that do not contain any null values.
df.notna().all(axis=1).sum()
(df.isnull().sum(axis=1) > 2).sum()
f_df = df[df.isnull().sum(axis=1) < 3]
f_df.shape
f_df.isna().sum()

In [ ]:
#df.loc[df['ID'] == 'cardid73099275', 'flat_on_floor'] = np.nan
#df.loc[df['ID'] == 'cardid73099275', ['bath','flat_on_floor']] = df.loc[df['ID'] == 'cardid73099275', ['bath','flat_on_floor']].fillna(value = {'bath': 2,'flat_on_floor':3})

In [ ]:
#lift of this ID is 2
ids_to_update = [
    "cardid71631505",
    "cardid71631467",
    "cardid71631499",
    "cardid71631509",
    "cardid71631481",
    "cardid71631485",
    "cardid72323111"
]

# Update 'lift' column for matching IDs
#df.loc[df['ID'].isin(ids_to_update), 'lift'] = 2

# Verify the changes
#df[df['ID']== 'cardid71631509']['lift']

In [2]:
df['floor1'] = df['md_flooring'].str.split(',').str[0]
df['floor2'] = df['md_flooring'].str.split(',').str[1]
df['floor3'] = df['md_flooring'].str.split(',').str[2]
df['floor4'] = df['md_flooring'].str.split(',').str[3]
df['floor5'] = df['md_flooring'].str.split(',').str[4]
df['floor6'] = df['md_flooring'].str.split(',').str[5]
df['floor7'] = df['md_flooring'].str.split(',').str[6]
df['floor8'] = df['md_flooring'].str.split(',').str[7]

#find the unique values from all above column combiningly 

# Combine all floor columns into a single array
all_floors = pd.concat([df[f'floor{i}'] for i in range(1, 9)]).str.strip().dropna().values
# Find unique values
unique_floors = np.unique(all_floors)
print(unique_floors)

NameError: name 'df' is not defined

In [ ]:
#chk mcar or not using chi square test

import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency

# Create a missingness indicator (1 if missing, 0 if not missing)
missing_indicators = df.isna().astype(int)

# Perform a Chi-Square test between missing values in 'bath' and missing values in 'parking'
contingency_table = pd.crosstab(missing_indicators['bath'], missing_indicators['parking'])
chi2_stat, p_value, dof, expected = chi2_contingency(contingency_table)

print(f"Chi-Square Test Statistic: {chi2_stat}")
print(f"P-value: {p_value}")

if p_value < 0.05:
    print("Missingness is not MCAR.")
else:
    print("Missingness is MCAR.")

# extra_room work

In [ ]:
# Handle NaN values explicitly and split entries by commas
unique_floorings = set()

for flooring_list in df['extra_rooms']:
    if pd.isna(flooring_list):
        unique_floorings.add('NaN')  # Include 'NaN' as a special category
    else:
        unique_floorings.update(flooring.strip() for flooring in flooring_list.split(','))

# Convert to a sorted list for better readability
unique_floorings = sorted(unique_floorings)

# Print the unique flooring types
print(unique_floorings)

In [12]:
import pandas as pd

# Left DataFrame
left_df = pd.DataFrame({
    "project_id": [1, 2, 3],
    "value": [100, 200, 300]
})

# Right DataFrame
right_df = pd.DataFrame({
    "id": [1, 2, 4],
    "cumsum_value": [150, 250, 400]
})

# Merging on different column names
merged_df = left_df.merge(
    right_df, 
    left_on="project_id",  # Column in left_df
    right_on="id",         # Column in right_df
    how="inner"            # Inner join
)

print(merged_df)

   project_id  value  id  cumsum_value
0           1    100   1           150
1           2    200   2           250

In [11]:
import pandas as pd

# Sample data for filtered_df
data_filtered = {
    "project_name": ["Project A", "Project B", "Project C"],
    "value": [100, 200, 300]
}
filtered_df = pd.DataFrame(data_filtered)

# Sample data for project_cumsum
data_cumsum = {
    "project_name": ["Project A", "Project B", "Project D"],
    "cumsum_value": [150, 250, 400]
}
project_cumsum = pd.DataFrame(data_cumsum)

# Merging the DataFrames
merged_df = filtered_df.merge(
    project_cumsum, 
    left_on='project_name', 
    right_on='project_name', 
    how='inner'  # Only rows with matching project_name will be merged
)

print(merged_df)

  project_name  value  cumsum_value
0    Project A    100           150
1    Project B    200           250

# map

In [ ]:
#Choropleth Map Using folium

import folium
from folium.plugins import HeatMap

# Remove rows with NaN values in 'lattitude', 'longitude', or 'price'
df_locate = df.dropna(subset=['lattitude', 'longitude', 'price'])

# Initialize the map centered around Mumbai region
m = folium.Map(location=[19.0, 73.0], zoom_start=10)

# Add a heatmap layer based on prices
heat_data = [[row['lattitude'], row['longitude'], row['price']] for index, row in df_locate.iterrows()]
HeatMap(heat_data, radius=15, blur=10).add_to(m)

# Display the map
m.save("price_heatmap.html")
print("Choropleth map saved as 'price_heatmap.html'")

In [13]:
#heatmap using seaborn 

import seaborn as sns
import matplotlib.pyplot as plt

# Pivot data to create a matrix for heatmap
# Replace this with actual latitude/longitude bins if needed
df_heatmap = df.pivot_table(index='region', values='price', aggfunc='mean')

# Plot heatmap
plt.figure(figsize=(8, 6))
sns.heatmap(df_heatmap, annot=True, cmap='YlGnBu', fmt='.2f')
plt.title("Heatmap of Average Property Prices by Region")
plt.xlabel("Regions")
plt.ylabel("Average Price")
plt.show()

NameError: name 'df' is not defined

In [ ]:
#Choropleth Using plotly

import plotly.express as px

# Example data
df = pd.DataFrame(data)

# Create a choropleth map
fig = px.scatter_mapbox(
    df, lat='latitude', lon='longitude', color='price',
    size='price', color_continuous_scale="Viridis",
    hover_name='region', zoom=9, height=500
)

# Set the map style
fig.update_layout(mapbox_style="open-street-map")
fig.update_layout(title="Geographical Price Trends")

# Display the map
fig.show()

In [17]:
import pandas as pd
import requests

# Load the CSV file
file_path = 'chk_area_d.csv'  # Replace with your CSV file path
df = pd.read_csv(file_path)

# Ensure the necessary columns exist
if 'url' not in df.columns or 'id' not in df.columns:
    raise ValueError("The CSV file must contain 'url' and 'id' columns.")

# Define a function to check URL accessibility
def check_url(url):
    try:
        response = requests.get(url, timeout=5)  # 5-second timeout
        return response.status_code == 200  # Return True if status code is 200
    except requests.RequestException:
        return False  # Return False if any error occurs

# Filter rows where the URL is accessible
accessible_ids = []
for index, row in df.iterrows():
    url = row['url']
    if check_url(url):  # Check if the URL is accessible
        accessible_ids.append(row['id'])

# Output the result
print("Accessible IDs:", accessible_ids)

FileNotFoundError: [Errno 2] No such file or directory: 'chk_area_d.csv'

In [3]:
import pandas as pd
import requests

# Load the Excel file
file_path = 'delete (2).xlsx'  # Replace with your Excel file path
sheet_name = 'Sheet1'  # Replace with your sheet name if needed
df = pd.read_excel(file_path, sheet_name=sheet_name)
print(df)

# Ensure the necessary columns exist
if 'url' not in df.columns or 'id' not in df.columns or 'area_difference' not in df.columns:
    raise ValueError("The Excel file must contain 'url', 'id', and 'area_difference' columns.")

# Filter rows with negative 'area_difference'
filtered_df = df[df['area_difference'] < 0]

# Define a function to check URL accessibility
def check_url(url):
    try:
        response = requests.get(url, timeout=5)  # 5-second timeout
        return response.status_code == 200  # Return True if status code is 200
    except requests.RequestException:
        return False  # Return False if any error occurs

# Filter rows where the URL is accessible
accessible_ids = []
for index, row in filtered_df.iterrows():
    url = row['url']
    if check_url(url):  # Check if the URL is accessible
        accessible_ids.append(row['id'])

# Output the result
print("Accessible IDs:", accessible_ids)

                id                                                url  \
0   cardid72534377  https://www.magicbricks.com/propertydetails/3-...
1   cardid72457585  https://www.magicbricks.com/propertydetails/3-...
2   cardid71273837  https://www.magicbricks.com/propertydetails/4-...
3   cardid72610829  https://www.magicbricks.com/propertydetails/2-...
4   cardid72413197  https://www.magicbricks.com/propertydetails/6-...
5   cardid71378387  https://www.magicbricks.com/propertydetails/3-...
6   cardid68506935  https://www.magicbricks.com/propertydetails/6-...
7   cardid70968555  https://www.magicbricks.com/propertydetails/6-...
8   cardid69234709  https://www.magicbricks.com/propertydetails/4-...
9   cardid71707037  https://www.magicbricks.com/propertydetails/6-...
10  cardid64903111  https://www.magicbricks.com/propertydetails/3-...
11  cardid71713921  https://www.magicbricks.com/propertydetails/3-...
12  cardid57396717  https://www.magicbricks.com/propertydetails/3-...
13  cardid72476991  https://www.magicbricks.com/propertydetails/3-...
14  cardid72558151  https://www.magicbricks.com/propertyDetails/2-...

                                              address  bed   price  \
0   panvel, navi mumbai - central navi mumbai, mah...    3   1.600
1   juinagar, navi mumbai - central navi mumbai, m...    3   2.900
2   kharghar, navi mumbai - central navi mumbai, m...    4   2.790
3   vasai west, mumbai - mira road and beyond, mah...    2   0.822
4   rajendra nagar, borivali east, mumbai - wester...    6  10.000
5   runwal bliss, near kanjurmarg railway station,...    3   3.140
6   near ecole world school., juhu, mumbai - weste...    6  25.000
7   gulmohar road jvpd scheme, juhu, mumbai - west...    6  15.250
8   hiranandani gardens, mumbai, powai, mumbai - c...    4   8.250
9   oberoi sky city, off western express highway, ...    6   9.500
10  chembur, mumbai, chembur, mumbai - harbour lin...    3   3.400
11  kharghar, navi mumbai, kharghar, navi mumbai -...    3   1.370
12  mulund west, mumbai, mulund west, mumbai - cen...    3   2.530
13  shreenath apartment sm road opp krc kandivali ...    3   3.550
14                                              malad    2   3.330

    costpersqft  area  area_from_url  area_difference
0         14260  1122           1810             -688
1         23673  1225           2000             -775
2         18058  1545           2601            -1056
3         21409   384           1200             -816
4         48876  2046           3300            -1254
5         28940  1085           1730             -645
6         58140  4300           6000            -1700
7         61492  2480           3472             -992
8         49254  1675           2500             -825
9         43182  2200           3100             -900
10        30797  1104           1821             -717
11        13980   980           1650             -670
12        24095  1050           1675             -625
13        34004  1044           1670             -626
14        23232  2323           1232             -555
Accessible IDs: []