In [ ]:
#on command prompt - python.exe -m pip install --upgrade pip

In [21]:
#pip install pandas
#pip install numpy
#!pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.5.2-cp312-cp312-win_amd64.whl.metadata (13 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\abc\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (2.1.3)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.14.1-cp312-cp312-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.5.2-cp312-cp312-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   --- ------------------------------------ 1.0/11.0 MB 6.3 MB/s eta 0:00:02
   ------- -------------------------------- 2.1/11.0 MB 5.6 MB/s eta 0:00:02
   ----------- ---------------------------- 3.1/11.0 MB 5.6 MB/s eta 0:00:02
   ---------------- ----------------------- 4.5/11.0 MB 5.5 MB/s eta 0:00:02
   -------------------- ------------------- 5.5/11.0 MB 5.5 MB/s eta 0:00:01
   ------------------------ --------------- 6.8/11.0 MB 5.6 MB/s eta 0:00:01
   ------------------------------ --------- 8.4/11.0 MB 5.8 MB/s eta 0:00:01
   ----------------------------------- ---- 9.7/11.0 MB 5.9 MB/s eta 0:00:01
   ---------------------------------------  10.7/11.0 MB 6.0 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 5.7 MB/s eta 0:00:00
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
Downloading scipy-1.14.1-cp312-cp312-win_amd64.whl (44.5 MB)
   ---------------------------------------- 0.0/44.5 MB ? eta -:--:--
    --------------------------------------- 1.0/44.5 MB 6.3 MB/s eta 0:00:07
   -- ------------------------------------- 2.4/44.5 MB 6.4 MB/s eta 0:00:07
   --- ------------------------------------ 3.7/44.5 MB 6.2 MB/s eta 0:00:07
   ---- ----------------------------------- 5.2/44.5 MB 6.2 MB/s eta 0:00:07
   ----- ---------------------------------- 6.3/44.5 MB 6.2 MB/s eta 0:00:07
   ------ --------------------------------- 7.6/44.5 MB 6.1 MB/s eta 0:00:07
   -------- ------------------------------- 8.9/44.5 MB 6.1 MB/s eta 0:00:06
   -------- ------------------------------- 10.0/44.5 MB 6.0 MB/s eta 0:00:06
   ---------- ----------------------------- 11.3/44.5 MB 6.0 MB/s eta 0:00:06
   ----------- ---------------------------- 12.8/44.5 MB 6.1 MB/s eta 0:00:06
   ------------ --------------------------- 14.2/44.5 MB 6.1 MB/s eta 0:00:05
   ------------- -------------------------- 15.2/44.5 MB 6.1 MB/s eta 0:00:05
   -------------- ------------------------- 16.5/44.5 MB 6.0 MB/s eta 0:00:05
   ---------------- ----------------------- 17.8/44.5 MB 6.0 MB/s eta 0:00:05
   ----------------- ---------------------- 19.1/44.5 MB 6.0 MB/s eta 0:00:05
   ------------------ --------------------- 20.7/44.5 MB 6.1 MB/s eta 0:00:04
   -------------------- ------------------- 22.3/44.5 MB 6.2 MB/s eta 0:00:04
   --------------------- ------------------ 23.6/44.5 MB 6.2 MB/s eta 0:00:04
   ---------------------- ----------------- 24.6/44.5 MB 6.2 MB/s eta 0:00:04
   ----------------------- ---------------- 26.5/44.5 MB 6.2 MB/s eta 0:00:03
   ------------------------- -------------- 28.3/44.5 MB 6.3 MB/s eta 0:00:03
   --------------------------- ------------ 30.4/44.5 MB 6.5 MB/s eta 0:00:03
   ---------------------------- ----------- 31.2/44.5 MB 6.4 MB/s eta 0:00:03
   ----------------------------- ---------- 32.5/44.5 MB 6.3 MB/s eta 0:00:02
   ------------------------------ --------- 34.1/44.5 MB 6.4 MB/s eta 0:00:02
   -------------------------------- ------- 36.2/44.5 MB 6.5 MB/s eta 0:00:02
   --------------------------------- ------ 37.7/44.5 MB 6.6 MB/s eta 0:00:02
   ----------------------------------- ---- 39.6/44.5 MB 6.6 MB/s eta 0:00:01
   ------------------------------------- -- 41.4/44.5 MB 6.7 MB/s eta 0:00:01
   ---------------------------------------  43.5/44.5 MB 6.8 MB/s eta 0:00:01
   ---------------------------------------  44.3/44.5 MB 6.8 MB/s eta 0:00:01
   ---------------------------------------  44.3/44.5 MB 6.8 MB/s eta 0:00:01
   ---------------------------------------  44.3/44.5 MB 6.8 MB/s eta 0:00:01
   ---------------------------------------- 44.5/44.5 MB 6.3 MB/s eta 0:00:00
Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.5.2 scipy-1.14.1 threadpoolctl-3.5.0

# 1. Importing Libraries

In [86]:
import os
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

# 2. Reading the data

In [87]:
PROJECT_DIR = r"C:\Users\ABC\Desktop\bhushan\magicbricks.com\magicbricks-project\data"

In [75]:
def get_data(name,col_range):
    file_name = f"{name}.csv"
    file_path = os.path.join(PROJECT_DIR, file_name)
    return pd.read_csv(file_path,usecols=col_range)

In [82]:
mg_first100 = get_data("original magicbricks cleaned 12389 data",col_range = range(100))
mg_nxt100 = get_data("original magicbricks cleaned 12389 data",col_range=range(100,200))
mg_last90 = get_data("original magicbricks cleaned 12389 data",col_range=range(200,290))

C:\Users\ABC\AppData\Local\Temp\ipykernel_15672\1048608518.py:4: DtypeWarning: Columns (44) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(file_path,usecols=col_range)
C:\Users\ABC\AppData\Local\Temp\ipykernel_15672\1048608518.py:4: DtypeWarning: Columns (102,103,104,110,116,117,119,125,134,163,165,166,170,171,173,176,181,182,183,190,193,194,195,197) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(file_path,usecols=col_range)
C:\Users\ABC\AppData\Local\Temp\ipykernel_15672\1048608518.py:4: DtypeWarning: Columns (200,204,206,208,210,212,213,216,218,219,220,221,225,227,228,229,230,231,232,233,235,236,237,239,241,242,243,245,246,247,248,249,250,252,253,255,260,262,264,268,269,271,272,273,275,277,278,279,280,281,282,283,284,285,286,287,288,289) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(file_path,usecols=col_range)

In [92]:
mg = get_data("original magicbricks cleaned 12389 data",col_range=range(290))

C:\Users\ABC\AppData\Local\Temp\ipykernel_15672\1048608518.py:4: DtypeWarning: Columns (44,102,103,104,110,116,117,119,125,134,163,165,166,170,171,173,176,181,182,183,190,193,194,195,197,200,204,206,208,210,212,213,216,218,219,220,221,225,227,228,229,230,231,232,233,235,236,237,239,241,242,243,245,246,247,248,249,250,252,253,255,260,262,264,268,269,271,272,273,275,277,278,279,280,281,282,283,284,285,286,287,288,289) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(file_path,usecols=col_range)

In [93]:
mg.shape

(12389, 290)

In [83]:
print(mg_first100.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12389 entries, 0 to 12388
Data columns (total 100 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       12389 non-null  object
 1   @type                    12389 non-null  object
 2   @id                      12389 non-null  object
 3   url                      12389 non-null  object
 4   numberOfRooms            12279 non-null  float64
 5   image                    11375 non-null  object
 6   name                     12389 non-null  object
 7   geo                      11880 non-null  object
 8   potentialAction          12389 non-null  object
 9   address                  12389 non-null  object
 10  PRICE                    12388 non-null  object
 11  BHK_Type                 12278 non-null  object
 12  Area                     9568 non-null   object
 13  property_loc             12310 non-null  object
 14  locality_URL             12304 non-null  object
 15  EMI                      12386 non-null  object
 16  MD_Price Breakup         12388 non-null  object
 17  MD_Booking Amount        7505 non-null   object
 18  MD_Address               12388 non-null  object
 19  MD_Furnishing            12331 non-null  object
 20  MD_Flooring              7655 non-null   object
 21  MD_Loan Offered          6705 non-null   object
 22  MD_Water Availability    7141 non-null   object
 23  AP_Price                 8506 non-null   object
 24  AP_Price per sqft        6097 non-null   object
 25  AP_Configuration         7323 non-null   object
 26  AP_Tower & Unit          6597 non-null   object
 27  AP_Pjt_URL               8506 non-null   object
 28  AP_Pjt_Name              8506 non-null   object
 29  AP_Buildr                7718 non-null   object
 30  AP_Ratings               3118 non-null   float64
 31  AP_Reviews_by            3118 non-null   object
 32  image_urls               7742 non-null   object
 33  headings_with_ratings    3413 non-null   object
 34  Aboutpjt_Project Size    6219 non-null   object
 35  Aboutpjt_Launch Date     6683 non-null   object
 36  Aboutpjt_Total Units     6747 non-null   float64
 37  Aboutpjt_Total Towers    6940 non-null   float64
 38  Aboutpjt_BHK             6443 non-null   object
 39  AM_12204                 4164 non-null   object
 40  AM_12226                 1929 non-null   object
 41  AM_12225                 1007 non-null   object
 42  AM_12229                 3162 non-null   object
 43  AM_12230                 1619 non-null   object
 44  AM_1404107               563 non-null    object
 45  AM_12201                 4393 non-null   object
 46  AM_12205                 5006 non-null   object
 47  AM_12202                 5166 non-null   object
 48  AM_12209                 5049 non-null   object
 49  AM_12207                 3431 non-null   object
 50  AM_12208                 4195 non-null   object
 51  AM_12214                 1740 non-null   object
 52  AM_12216                 2996 non-null   object
 53  AM_12218                 2555 non-null   object
 54  AM_1404110               1075 non-null   object
 55  AM_12224                 2385 non-null   object
 56  AM_12206                 5532 non-null   object
 57  AM_1404117               3584 non-null   object
 58  AM_1404105               1423 non-null   object
 59  AM_12220                 1221 non-null   object
 60  AM_12228                 1700 non-null   object
 61  AM_12203                 3847 non-null   object
 62  AM_12211                 2681 non-null   object
 63  AM_1404118               2040 non-null   object
 64  AM_1404106               410 non-null    object
 65  AM_1404125               2425 non-null   object
 66  AM_1404124               2950 non-null   object
 67  AM_12538                 688 non-null    object
 68  AM_12540                 827 non-null    object
 69  AM_12219                 2787 non-null   object
 70  AM_12227                 1271 non-null   object
 71  AM_12523                 1069 non-null   object
 72  AM_12533                 940 non-null    object
 73  AM_12534                 729 non-null    object
 74  AM_12535                 780 non-null    object
 75  AM_12536                 920 non-null    object
 76  AM_12537                 1064 non-null   object
 77  AM_12539                 1478 non-null   object
 78  AM_12543                 1952 non-null   object
 79  AM_12545                 441 non-null    object
 80  AM_12581                 2508 non-null   object
 81  AM_12583                 933 non-null    object
 82  AM_1404155               891 non-null    object
 83  AM_1404114               1899 non-null   object
 84  AM_1404143               3797 non-null   object
 85  2 BHK Flat               2156 non-null   object
 86  Educational Institute_1  7737 non-null   object
 87  Educational Institute_2  7305 non-null   object
 88  Educational Institute_3  5847 non-null   object
 89  Transportation Hub_1     5892 non-null   object
 90  Transportation Hub_2     4403 non-null   object
 91  Shopping Centre_1        8121 non-null   object
 92  Shopping Centre_2        7625 non-null   object
 93  Shopping Centre_3        6474 non-null   object
 94  Shopping Centre_4        5489 non-null   object
 95  locality_rank            8169 non-null   float64
 96  locality_URL_rating      11845 non-null  float64
 97  locality_URL_review      11845 non-null  float64
 98  liv_Environment          10987 non-null  object
 99  liv_Commuting            10981 non-null  object
dtypes: float64(7), object(93)
memory usage: 9.5+ MB
None

In [84]:
print(mg_nxt100.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12389 entries, 0 to 12388
Data columns (total 100 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   liv_Places of Interest              10979 non-null  object
 1   BB_beds                             3609 non-null   float64
 2   BB_baths                            5148 non-null   object
 3   BB_covered-parking                  2012 non-null   object
 4   BB_unfurnished                      1 non-null      object
 5   many_Carpet Area                    5538 non-null   object
 6   many_Developer                      3849 non-null   object
 7   many_Project                        4304 non-null   object
 8   many_Transaction type               6964 non-null   object
 9   many_Status                         4827 non-null   object
 10  many_Lifts                          2627 non-null   object
 11  many_Furnished Status               6721 non-null   object
 12  many_Car parking                    1913 non-null   object
 13  MD_RERA ID                          2561 non-null   object
 14  MD_Status of Electricity            7112 non-null   object
 15  MD_Lift                             6473 non-null   float64
 16  leftBB_beds                         5328 non-null   object
 17  leftBB_baths                        5331 non-null   object
 18  leftBB_covered-parking              3079 non-null   float64
 19  leftBB_unfurnished                  7 non-null      object
 20  leftmany_Super Built-up Area        529 non-null    object
 21  leftmany_Developer                  3815 non-null   object
 22  leftmany_Project                    4141 non-null   object
 23  leftmany_Transaction type           5389 non-null   object
 24  leftmany_Status                     3429 non-null   object
 25  leftmany_Lifts                      3225 non-null   object
 26  leftmany_Furnished Status           4863 non-null   object
 27  leftmany_Car parking                1760 non-null   object
 28  Aboutpjt_Total Floors               3042 non-null   float64
 29  AM_1404109                          457 non-null    object
 30  AM_1404131                          1738 non-null   object
 31  AM_12212                            1383 non-null   object
 32  AM_1404112                          185 non-null    object
 33  AM_12217                            3233 non-null   object
 34  AM_1404116                          333 non-null    object
 35  AM_1404120                          966 non-null    object
 36  AM_1404111                          283 non-null    object
 37  AM_12222                            1460 non-null   object
 38  AM_1404115                          1760 non-null   object
 39  AM_1404123                          995 non-null    object
 40  AM_1404127                          326 non-null    object
 41  AM_1404128                          304 non-null    object
 42  AM_1404129                          467 non-null    object
 43  AM_12223                            1150 non-null   object
 44  AM_12215                            1359 non-null   object
 45  AM_1404108                          180 non-null    object
 46  AM_12213                            2243 non-null   object
 47  AM_12221                            1907 non-null   object
 48  AM_1404130                          644 non-null    object
 49  AM_1404126                          1032 non-null   object
 50  AM_1404113                          328 non-null    object
 51  AM_1404122                          887 non-null    object
 52  Educational Institute_4             3905 non-null   object
 53  Educational Institute_5             2949 non-null   object
 54  Transportation Hub_3                2266 non-null   object
 55  Transportation Hub_4                1381 non-null   object
 56  Transportation Hub_5                822 non-null    object
 57  Shopping Centre_5                   4478 non-null   object
 58  Commercial Hub_1                    6846 non-null   object
 59  Commercial Hub_2                    6183 non-null   object
 60  Commercial Hub_3                    4862 non-null   object
 61  Commercial Hub_4                    3499 non-null   object
 62  AM_12586                            149 non-null    object
 63  AM_1404156                          69 non-null     object
 64  3 BHK Flat                          1823 non-null   object
 65  MD_Floors allowed for construction  420 non-null    object
 66  AM_12525                            673 non-null    object
 67  AM_12547                            1620 non-null   object
 68  AM_12577                            331 non-null    object
 69  AM_1404150                          746 non-null    object
 70  AM_1404148                          163 non-null    object
 71  AM_1404146                          591 non-null    object
 72  1 BHK Flat                          996 non-null    object
 73  BB_bed                              3248 non-null   object
 74  AM_12529                            517 non-null    object
 75  Hospital_1                          3346 non-null   object
 76  AM_12521                            490 non-null    object
 77  AM_12522                            474 non-null    object
 78  AM_12526                            364 non-null    object
 79  AM_12530                            1273 non-null   object
 80  AM_12532                            448 non-null    object
 81  BB_bath                             1781 non-null   object
 82  many_Lift                           504 non-null    object
 83  Studio Apartment                    17 non-null     object
 84  Hospital_2                          1849 non-null   object
 85  Hospital_3                          1173 non-null   object
 86  Commercial Hub_5                    1917 non-null   object
 87  AM_12528                            553 non-null    object
 88  AM_12546                            256 non-null    object
 89  Tourist Spot_1                      1573 non-null   object
 90  BB_semi-furnished                   25 non-null     object
 91  AM_1404161                          835 non-null    object
 92  many_Floor                          5563 non-null   object
 93  AM_12234                            235 non-null    object
 94  AM_12585                            118 non-null    object
 95  AM_1404149                          617 non-null    object
 96  AM_1404152                          757 non-null    object
 97  AM_1404158                          153 non-null    object
 98  AM_1404157                          313 non-null    object
 99  AM_1404154                          57 non-null     object
dtypes: float64(4), object(96)
memory usage: 9.5+ MB
None

In [85]:
print(mg_last90.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12389 entries, 0 to 12388
Data columns (total 90 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   4 BHK Flat                    882 non-null    object
 1   AP_Tower                      346 non-null    object
 2   leftmany_Carpet Area          4848 non-null   object
 3   Tourist Spot_2                1066 non-null   object
 4   AM_12511                      162 non-null    object
 5   MD_Age of Construction        10579 non-null  object
 6   BB_balcony                    1525 non-null   object
 7   many_Age of Construction      2771 non-null   object
 8   leftBB_balcony                1677 non-null   object
 9   leftmany_Age of Construction  1420 non-null   object
 10  AM_12579                      125 non-null    object
 11  BB_balconies                  1683 non-null   float64
 12  leftBB_balconies              1410 non-null   object
 13  AM_12527                      361 non-null    object
 14  Hospital_4                    382 non-null    object
 15  Hospital_5                    184 non-null    object
 16  AM_12524                      360 non-null    object
 17  AM_12541                      235 non-null    object
 18  5 BHK Flat                    141 non-null    object
 19  AM_12238                      211 non-null    object
 20  AM_12562                      243 non-null    object
 21  AM_12578                      19 non-null     object
 22  MD_Landmarks                  7676 non-null   object
 23  MD_Overlooking                8150 non-null   object
 24  AM_12548                      171 non-null    object
 25  AM_12549                      127 non-null    object
 26  AM_12239                      290 non-null    object
 27  AM_1404151                    193 non-null    object
 28  AM_12236                      178 non-null    object
 29  AM_12237                      172 non-null    object
 30  AM_12556                      203 non-null    object
 31  AM_12560                      202 non-null    object
 32  AM_12555                      123 non-null    object
 33  AM_12561                      84 non-null     object
 34  AP_Unit                       151 non-null    object
 35  Tourist Spot_3                342 non-null    object
 36  Tourist Spot_4                341 non-null    object
 37  Multistorey Apartment         8 non-null      object
 38  many_Super Built-up Area      1415 non-null   object
 39  AM_1404147                    76 non-null     object
 40  leftBB_bed                    59 non-null     float64
 41  leftBB_bath                   50 non-null     object
 42  AM_12235                      60 non-null     object
 43  AM_12557                      59 non-null     object
 44  leftmany_Floor                4340 non-null   object
 45  AM_12233                      116 non-null    object
 46  3 BHK Villa                   7 non-null      object
 47  4 BHK Villa                   6 non-null      object
 48  Residential Plot              6 non-null      object
 49  2 BHK Builder                 5 non-null      object
 50  3 BHK Builder                 3 non-null      object
 51  leftBB_semi-furnished         0 non-null      float64
 52  4 BHK Penthouse               2 non-null      object
 53  5 BHK Penthouse               2 non-null      object
 54  AM_12531                      200 non-null    object
 55  AM_12518                      28 non-null     object
 56  MD_Type of Ownership          8539 non-null   object
 57  MD_Additional Rooms           6753 non-null   object
 58  MD_Authority Approval         4626 non-null   object
 59  leftmany_Facing               4079 non-null   object
 60  AM_12232                      70 non-null     object
 61  leftmany_Additional Rooms     1913 non-null   object
 62  AM_12544                      94 non-null     object
 63  many_Facing                   4331 non-null   object
 64  6 BHK Flat                    11 non-null     object
 65  many_Type of Ownership        2364 non-null   object
 66  many_Additional Rooms         1040 non-null   object
 67  leftmany_Type of Ownership    1373 non-null   object
 68  AM_12551                      15 non-null     object
 69  BB_furnished                  1 non-null      object
 70  leftmany_Lift                 145 non-null    float64
 71  AM_12554                      7 non-null      object
 72  AM_12542                      17 non-null     object
 73  AM_12520                      62 non-null     object
 74  leftBB_furnished              0 non-null      float64
 75  AM_12558                      51 non-null     object
 76  Rent                          4770 non-null   object
 77  AM_12584                      51 non-null     object
 78  AM_1404160                    5 non-null      object
 79  AM_1404159                    18 non-null     object
 80  AM_12516                      5 non-null      object
 81  AM_12580                      1 non-null      object
 82  Commercial Office Space       1 non-null      object
 83  5 BHK Villa                   1 non-null      object
 84  AM_12513                      3 non-null      object
 85  AM_12550                      3 non-null      object
 86  AM_12552                      3 non-null      object
 87  AM_12553                      3 non-null      object
 88  3 BHK Penthouse               3 non-null      object
 89  many_Plot Area                2 non-null      object
dtypes: float64(5), object(85)
memory usage: 8.5+ MB
None

### keep this columns means dont delete them    
(note: after some procedure I have to delete some columns from below list also that I have written in next markdown clearly)  

- ID  - project unique id      
- url  - url link and sq-ft info also     
- numberofRooms  -  BHK  
- image - link for image
- name - [flat,villa]
- geo - longitude and latitude  
- potentialAction - seller:[Organization,Person,RealEstateAgent]
  -  name: name for above  
- address   
- property_loc   
- PRICE
- MD_Furnishing
- MD_Address - full address
- MD_Flooring - give weightage to each and sum it, eg:[marble,ceramic] = [1,2] = 3
- 'AP_Tower & Unit','Aboutpjt_Total Units' and 'Aboutpjt_Total Towers' - make separate column for tower and unit 
- AP_Buildr and leftmany_Developer same so fill blank values in one column and then delete one column from it
- image_urls
- Aboutpjt_Project Size
- Aboutpjt_Launch Date

- Dataset contains 12389 rows and 290 features.  
- 290 columns, so it needs to be shortened.  
- Data types of some features are not appropriate.  
- Features have missing values.  
- Many columns have the same type of data,
  - e.g.: @id and url have exact same data so delete this @id column
   
- some features has to be renamed but do this after this below things
- dropping of columns should do at the end 
- @type have [Apartment ,SingleFamilyResidence]  drop this column
- from 'url' column fetch sq-ft data and make new column as 'area_in_sqft' and keep this url column also as it have link
- "numberofRooms" column have missing values, in 'url' column sq-ft info there so using that I got to know that,for below 1000sq-ft, all missing values which are there in this "numberofRooms" is 1HK so hence for this 1HK we mention 0 and for above 1000 sq-ft we have to do imputation in "numberofRooms"
-  "name" have residential house means flat and villa so make categories like this [flat,villa] 
-  from "potentialAction" make 3 columns [Organization,Person,RealEstateAgent] and insert name of each in that  
-  some properties are from navimumbai written in 'address' column and even then also in 'property_loc' column they written mumbai so find that and change that in  'property_loc' column and then delete "address" column  
-  'PRICE' column convert all in crore and drop this 'MD_Price Breakup','EMI' column
-  drop 'BHK_Type' ,'locality_URL','Area','MD_Booking Amount','MD_Loan Offered','MD_Water Availability','AP_Price','AP_Price per sqft','AP_Configuration','AP_Pjt_URL','AP_Pjt_Name','AP_Ratings','AP_Reviews_by','headings_with_ratings','Aboutpjt_BHK'